<%= form_for ([@podcast,@episode]) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :episode_thumbnail %>
		<%= f.file_field :episode_thumbnail %>
	</div>

	<%= f.submit class: "button button_highlight button_block" %>

<% end %>