<!DOCTYPE html>
<html>
  <head>
    <title>PodcastFm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="jquery.jplayer.min.js"></script>
  </head>

  <body>
    </div>
    <% if alert %>
      <div class="notice_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% elsif notice %>
      <div class="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

  <% unless current_page?(root_path)%>
  <%= render 'layouts/header' %>   
  <% end %>

    <%= yield %>

    <script>
      $(document).ready(function() {
        setTimeOut(function(){
          $(".notice_wrapper").fadeOut("slow", function(){
            $(this).hide();
          });
        }, 4500);        
      });

    </script>
  </body>
</html>
